.card-prices {
  .title {
    margin-bottom: 10px;
  }
  font-weight: 500;
  #market-low {
    color: #48c774 !important;
  }

  #market-mid {
    color: #3298dc !important;
  }

  #market-high {
    color: #f14668 !important;
  }
}
